*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* primary-btn */
.primary-btn{
    color: #fff;
    font-weight: bold;
    padding: 12px 30px;
    border: none;
    border-radius: 6px;
    background-color: #4E47FF;
}
.primary-btn:hover{
    background-color: #8F00FF;
}
body{
    font-family: 'Raleway', sans-serif;
    color: #252432;
}
/* header css start */
header{
    background: url('../Assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}
.header-container{
    width: 1140px;
    height: 600px;
    margin: 0 auto;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.banner{
    padding: 120px 0;
    text-align: center;
}
.banner h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 40px;
}
/* header css end */

/* action secton css start */
.action-section{
    width: 1140px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-title h3{
    font-size: 40px;
    font-weight: bold;
}
.action-title p{
    font-size: 24px;
    line-height: 30px;
    margin: 30px 0;
}
.action-image img{
    border-radius: 40px;
    overflow: hidden;
}
/* action secton css end */

/* user-review-section css start */
.user-review-section{
    width: 1140px;
    margin: 120px auto;
}
.user-review-section h2{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
}
.review-card-container{
    display: flex;
    justify-content: space-between;
    font-family: 'inter', sans-serif;
}
.user-card{
    /* border: 1px dashed #00000094; */
    border-radius: 8px;
    box-shadow: 0 6.4px 8px rgba(0, 0, 0, 0.2);
    background-color: #F2EDED;
    padding: 20px;
}
.user-card h6 img{
    width: 20px;
    height: 20px;
}
.user-card h4{
    font-size: 25px;
    font-weight: 600;
    margin: 20px 0 10px;
}
.avatar-container{
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.avatar-container div{
    margin-right: 10px;
}
.avatar-container div h5{
    font-size: 18px;
}
/* user-review-section css end */

/* productive users section css start */
.productive-users-section-container{
    width: 1140px;
    margin: 100px auto;
    padding: 5px 0;
    border-radius: 24px;
    background-color: #4d47ff25;
}
.productive-users-section{
    text-align: center;
    margin: 50px 140px;
}
.productive-users-section h3{
    font-size: 30px;
    font-weight: bold;
}
.productiv-users-container{
    font-family: 'inter', sans-serif;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
.productiv-users-container h1{
    color: #4E47FF;
    font-size: 55px;
}
.productiv-users-container p{
    color: #0000007f;
}
/* productive users section css end */

/* newsletter section css start */
.newsletter-section{
    width: 1140px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.newsletter-text h1{
    font-size: 80px;
    font-weight: bold;

}
.newsletter-form form{
    font-family: 'Raleway', sans-serif;
    width: 497px;
    padding: 50px 50px 70px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 6.4px 8px rgba(0, 0, 0, 0.2);
}
.newsletter-form label{
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0;
}
.newsletter-form input, textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    margin: 5px 0 15px;
    font-size: 16px;
    gap: 20;
    border: none;
    border-radius: 6px;
    box-shadow: 0 6.4px 8px rgba(0, 0, 0, 0.2);
}
.newsletter-form input::placeholder,
textarea::placeholder{
    font-size: 16px ;
    font-family: 'inter', sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    
    
}
.newsletter-form input:focus, textarea:focus{
    outline: none;
}

/* newsletter section css end */