*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
/* primary-btn */
.primary-btn{
    color: #fff;
    font-weight: bold;
    padding: 12px 30px;
    border: none;
    border-radius: 6px;
    background-color: #4E47FF;
}
.primary-btn:hover{
    background-color: #8F00FF;
}
body{
    font-family: 'Raleway', sans-serif;
    color: #252432;
}
/* header css start */
header{
    background: url('/Assets/Hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}
.header-container{
    width: 1140px;
    height: 600px;
    margin: 0 auto;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.banner{
    padding: 120px 0;
    text-align: center;
}
.banner h1{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 40px;
}
/* header css end */

/* action secton css start */
.action-section{
    width: 1140px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.action-title h3{
    font-size: 40px;
    font-weight: bold;
}
.action-title p{
    font-size: 24px;
    line-height: 30px;
    margin: 30px 0;
}
.action-image img{
    border-radius: 40px;
    overflow: hidden;
}
/* action secton css end */